Cartopy
Cython
Django
Shapely
argparse
backports.ssl-match-hostname
#basemap
distribute
ipython
ipdb
matplotlib
nose
numpy
pandas
patsy
psycopg2
pyparsing
pyshp
python-dateutil
pytz
rpy2
scipy
six
statsmodels
tornado
wsgiref
psutil
networkx
pillow
pysal
dill
